* {
  padding: 0;
  margin: 0;
}

body {
  background: #fffefb;
  font-family: "Instrument Sans";
  min-height: 800px;
  padding: 50px 100px;
}
  .colored-line {
        border: none; /* Remove default border */
        height: 2px; /* Set the height of the line */
        background-color: #304C89; /* Set the color of the line */
        margin: 20px 0; /* Add some space above and below the line */
    }

body {
    font-family:  "Instrument Sans";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.sidebar {
    height: 100%;
    width: 250px; /* Width of the sidebar */
    position: fixed;
    top: 0;
    left: -250px; /* Hide sidebar off-screen */
    background-color: #F6EBA9;
    color: #304C89;
    transition: left 0.3s ease; /* Smooth transition */
    padding: 20px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu a {
    color: #304C89;
    text-decoration: none;
}

.sidebar-menu a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

.open-btn {
    background-color: #35424a;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  margin-top: 100px;
  margin-left: 50px;
  display: none;
  flex-direction: column;

  width: auto;
  height: auto;
  padding: 8px;
  border-radius: 6px;
  font-family: inherit;
  background-color: #fffefb;
  color: #304c89;
  margin-bottom: 30px;
  margin-right: 40px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #304c89;
}

/*Button*/
.button {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  float: right;
  position: sticky;
  top: -40px;
  right: 10px;
}

/*.button:hover {
  width: 1%;
  height: 1%;
}*/

/*Text*/
h1 {
  font-family: "Roboto Mono";
  font-weight: bold;
  font-size: 45px;
  color: #304c89;
}

h2 {
  font-family: "Instrument Sans";
  font-size: 25px;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #304c89;
}

h3 {
  font-family: "Instrument Sans";
  font-weight: lighter;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #648de5;
  stroke-width: 2px;
  stroke: #9eb7e5;
}

/*Add task*/
.plus-task {
  background-color: transparent;
  border: #304c89;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-style: solid;
  border-color: #304c89;
  right: 200px;
  bottom: 200px;
  cursor: pointer;
  position: fixed;
  display: flex;
}

/* Add task window */
.delete {
  position: fixed;
  cursor: pointer;
  right: 5px;
  top: 5px;
}


.line {
  width: 400px;
  height: 2px;
  background-color: #304c89;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.to-do-input input {
  color: #757575;
  background-color: transparent;
  font-family: inherit;
  border: #304c89;
  padding: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #304c89;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.description-input {
  color: #304c89;
  background-color: transparent;
  width: 370px;
  height: 100px;
  font-family: inherit;
  border: #304c89;
  padding: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #304c89;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.to-do-input button {
  color: #304c89;
  background-color: transparent;
  font-family: inherit;
  border: #304c89;
  padding: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #304c89;
} 

.select-container {
  display: flex;
  justify-content: start;
  position: relative;
  min-width: 250px;
  height: 40px;
  padding: 10px;
}

.select-category {
  color: #304c89;
  border: #304c89;
  padding: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #304c89;
}

/*Category Boxes*/
.category-box {
  color: #304c89;
  background-color: transparent;
  width: auto;
  height: auto;
  font-family: inherit;
  font-size: 15px;
  border: #304c89;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-top: 10px;
  margin-right: 8px;
  padding: 6px;
}

.sub-box {
  color: #ffee8c;
  background-color: #9eb7e5;
  width: auto;
  height: auto;
  font-family: inherit;
  font-size: 10px;
  font-weight: bold;
  border: #304c89;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-style: solid;
  border-width: 1.9999px;
  margin-bottom: 4px;
  margin-left: 66px;
  margin-top: 4px;
  margin-right: 8px;
  padding: 6px;
}

/*Task Checkboxes*/
.checkbox-list {
  color: #304c89;
  background-color: transparent;
  width: auto;
  height: auto;
  font-family: inherit;
  font-size: 15px;
  border: #304c89;
  padding: 12px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #304c89;
  margin-bottom: 15px;
  margin-left: 3px;
  cursor: pointer;
}

.to-do-checkbox {
  float: left;
  margin-right: 20px;
  margin-top: 11px;
  margin-left: 13px;
  width: 30px;
  height: 30px;
}

/*To-do-list*/
li {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.to-do-list i {
  color: #304c89;
  cursor: pointer;
}

.to-do-list .fa-pen-to-square {
  color: #304c89;
}

.to-do-list button {
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #304c89;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #304c89;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px 0px #304c89;
}

.input-controller {
  display: flex;
  gap: 10px;
}

.input-controller textarea {
  width: 100%;
  outline: none;
  border: #304c89;
  resize: none;
  line-height: 1.4;
  color: #fffefb;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}

textarea:focus {
  box-shadow: 0 0 5px white;
}

.edit-controller {
  display: flex;
  gap: 5px;
}

.update-controller {
  display: none;
}

@media (max-width: 768px) {
  .app {
    width: 95%;
    text-align: center;
  }

  .input-header {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .to-do-input {
    display: flex;
  }

  .to-do-input input {
    width: 300px;
  }
}
